html {
    box-sizing: border-box;
    background-color: pink;
    color: navy;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: Garamond, 'Times New Roman', Times, serif;
}